* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: start;
    flex-wrap: wrap;
    width: 500px;
    gap: 6px;
    margin:1rem;
    padding: 5px;
}



.letter {
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid #119F00;
    cursor: pointer;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    border-radius: 3px;
    height:2.5rem;
    width: 2.5rem;
    font-size: 1rem;
}

.enter {
    background:black;
    color: white;
    border-radius: 5px;
    border: 1px solid #119F00;
    height: 2.5rem;
    width: 5.625rem;
    text-align: center;
    line-height: 28px;
    grid-column: 7/9;
    grid-row: 3/4 ;
}

.backspace {
    background:black;
    color: white;
    border-radius: 5px;
    border: 1px solid #119F00;
    height: 2.5rem;
    width: 5.625rem;
    text-align: center;
    line-height: 28px;
    grid-column: 9/11;
    grid-row: 3/4 ;

}

.mot-vert{
    background-color: rgb(19, 192, 0);
}

.mot-jaune{
    background-color: #ec8e00 ;
}

.mot-gris{
    background-color: #8e8e8e ;
}