* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.keyboard {
    background: lightblue;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: start;
    flex-wrap: wrap;
    width: 500px;
    gap: 6px;
    margin:1rem;
    padding: 5px;
}

.letter {
    background-color: brown;
    border: 1 solid black;
    border-radius: 5px;
    height:2.5rem;
    width: 2.5rem;
    text-align: center;
    line-height: 28px;
    font-size: 1rem;
}

.enter {
    background:greenyellow ;
    border-radius: 5px;
    height: 2.5rem;
    width: 5.625rem;
    text-align: center;
    line-height: 28px;
    grid-column: 7/9;
    grid-row: 3/4 ;
}

.backspace {
    background:orangered ;
    border-radius: 5px;
    height: 2.5rem;
    width: 5.625rem;
    text-align: center;
    line-height: 28px;
    grid-column: 9/11;
    grid-row: 3/4 ;

}