i {
    color: #119F00;
    -webkit-text-stroke: 2px black; 
    font-weight: 800;
    font-size: 3em;
}


.nombreDEssais {
    display: flex;
    justify-content: center;
}

.nombreDEssais p {
    padding-right: 5px;
}
